@charset "UTF-8";


.role_image{
	width: 100%;
	background-color: #ffffff;
}
.role_button{
	width: 10%;
	margin:auto;
	background-color: #ffffff;
}
#child_image{
	background-color: #008000;
}
#child{
	background-color: #008000;
}