@charset "UTF-8";

#calendar{
	width:60%;
	margin:auto;

	background-color: #ffffff;
}

/* -----------------------
カレンダー
-------------------------*/
.c
{
	position:absolute;
	left:500px;
	top:300px;
}

/* -----------------------
カレンダー説明
-------------------------*/
.p
{
	font-size:28px;
	color: green;
	position:absolute;
	left:500px;
	top:150px;
}