@charset "UTF-8";

.left {
    margin-top: 0%;
	width: 50%;
	float: left;
    padding: 0 ;
}

.right {
    padding: 0 10px;
    margin-top: 0%;
	 /*コレ*/max-width: 33%;
     max-width: 100%;
    /*コレ*/height: auto;
	width: 50%;
	float: right;
	align-content: center;
}

.form {
	position: relative;
    padding: 0 10px;
	align-items: center;
	margin: 0px auto;
}
.custom-submit {
    background-color: #7DCD85; /* ボタンの背景色 */
    color: #000000; /* ボタンのテキスト色 */
    font-size: 16px; /*ボタンのテキストの大きさ*/
    width: 150px; /*幅調整*/
    height: 40px; /*高さ調整*/
    margin: 10px auto;
    border: none; /* ボーダーなし */
    border-radius: 30px; /* 角丸 */
    cursor: pointer; /* カーソルをポインターに変更 */
    position: absolute;
    top:425px;
    right:275px;
}
.custom-submit:hover {
    background-color: #45A049; /* ホバー時の背景色 */
}

div{
    margin-top: 0 0;
    padding: 0 0;
}
body{
    margin: 0 0;
    padding: 0 0;
}
head{
    margin-top: 0;
    padding: 0 0;
}
form{
    position: relative;
    margin:auto;
}
h2{
    
}
.input{
    margin: auto;
}
.title_box{
    margin: 0 auto;
    text-align: center;
    position:absolute;
	font-size: 20px; /* テキストのサイズを調整 */
	background-color: #95d4aa; /* 背景色 */
    color: #FFFFFF; /* テキスト色 */
    padding: 10px 20px; /* 内側の余白 */
    border-color:#7dcd85;
    border-radius: 10px; /* 角を丸くする */
    width:225px;
    height:30px;
    right:200px;
}
