@charset "UTF-8";


.body{
	position:relative;
}

    .box
  {
      background-color: #FFFFFF;
      color: #95D4AA;
      width: 400px;
      height: 80px;
      border-radius: 30px;
      /* 角を丸くする */
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 35px;
      position:absolute;
      top:150px;
      left:400px

  }
  #error_message{
  	position:absolute;
	top:666px;
	right:100%;
	color:#FF0000;
  }

  .custom-submit {
    background-color: #7dcd85; /* ボタンの背景色 */
    color: #000000; /* ボタンのテキスト色 */
    font-size: 16px; /*ボタンのテキストの大きさ*/
    width: 150px; /*幅調整*/
    height: 40px; /*高さ調整*/
    margin: 10px 550px;
    border: none; /* ボーダーなし */
    border-radius: 30px; /* 角丸 */
    cursor: pointer; /* カーソルをポインターに変更 */
    position:absolute;
    top:280px;
    left:-550px

}

.custom-submit:hover {
    background-color: #45a049; /* ホバー時の背景色 */
}

.family_name{
	position:absolute;
	top:280px;
	left:500px;
}

#family_name{
	position:absolute;
	top:280px;
	left:700px;
}

/* -----------------------
テーブル関連
-------------------------*/
.tb
{
	position:absolute;
	top:300px;
	left:450px;
}








