@charset "UTF-8";

body{
	position:relative;
}

.table-wrapper {
    max-height: 420px; /* スクロールバーを表示する最大の高さを設定 */
    width:350px;
    height:210px;
    overflow-y: auto; /* 縦方向のスクロールバーを表示する */
    padding: 0px; /* 適宜パディングを設定 */
    position:absolute;
    top:330px;
    left:500px;

}

.table-wrapper::-webkit-scrollbar{
  display:none;
}
.table-wrapper1 {
    max-height: 420px; /* スクロールバーを表示する最大の高さを設定 */
    width:350px;
    height:210px;
    overflow-y: auto; /* 縦方向のスクロールバーを表示する */
    padding: 0px; /* 適宜パディングを設定 */
    position:absolute;
    top:330px;
    left:1000px;
}

.table-wrapper::-webkit-scrollbar{
  display:none;
}
    .box
  {
      background-color: #FFFFFF;
      color: #95D4AA;
      width: 400px;
      height: 80px;
      border-radius: 30px;
      /* 角を丸くする */
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 35px;
      position:absolute;
      top:150px;
      left:400px

  }

      .box2 /*やることリスト*/
  {
      background-color: #FFFFFF;
      color: #95D4AA;
      width: 250px;
      height: 50px;
      border-radius: 30px;
      /* 角を丸くする */
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      position:absolute;
      top:250px;
      left:400px
  }
        .box3 /*前日やることリスト*/
  {
      background-color: #FFFFFF;
      color: #95D4AA;
      width: 250px;
      height: 50px;
      border-radius: 30px;
      /* 角を丸くする */
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      position:absolute;
      top:250px;
      left:900px
  }
        .box4 /*引継ぎノート*/
  {
      background-color: #FFFFFF;
      color: #95D4AA;
      width: 250px;
      height: 50px;
      border-radius: 30px;
      /* 角を丸くする */
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      position:absolute;
      top:530px;
      left:400px
  }


    td {
        padding: 1px;
        text-align: center;
        vertical-align: middle; /* セルの内容を垂直方向に中央寄せ */
    }


#task{
		font-size: 20px; /* テキストのサイズを調整 */
		border:none;
		background-color: #7dcd85; /* 背景色 */
        color: #ffffff; /* テキスト色 */
        padding: 10px 20px; /* 内側の余白 */
        border-radius: 20px; /* 角を丸くする */
        width:250px;
        margin-bottom:20px;
}

#line{
	text-decoration: line-through;
	font-size: 20px; /* テキストのサイズを調整 */
	background-color: #7dcd85; /* 背景色 */
    color: #000000; /* テキスト色 */
    padding: 10px 20px; /* 内側の余白 */
    border-radius: 20px; /* 角を丸くする */
    width:210px;
    margin-bottom:20px;
}

#task:hover{
	background-color: #45a049; /* ホバー時の背景色 */
}

/*前日やること*/
.yes_box{
	font-size: 20px; /* テキストのサイズを調整 */
	background-color: #95d4aa; /* 背景色 */
    color: #FFFFFF; /* テキスト色 */
    padding: 10px 20px; /* 内側の余白 */
    border-color:#7dcd85;
    border-radius: 10px; /* 角を丸くする */
    width:225px;
    height:30px;
}


  .custom-submit {
    background-color: #7dcd85; /* ボタンの背景色 */
    color: #000000; /* ボタンのテキスト色 */
    font-size: 16px; /*ボタンのテキストの大きさ*/
    width: 150px; /*幅調整*/
    height: 40px; /*高さ調整*/
    margin: 10px 10px;
    border: none; /* ボーダーなし */
    border-radius: 30px; /* 角丸 */
    cursor: pointer; /* カーソルをポインターに変更 */

}

  .notes {
    position:absolute;
    top:610px;
    left:600px;
    width: 900px;
    height: 60px;
    background-color: #fff;
    background: repeating-linear-gradient(-45deg, #edf5f4, #edf5f4 10px, #f6faf9 0, #f6faf9 20px);
    padding: 1em;
    max-width: 600px; /* 最大幅を指定 */
    margin: 0 auto; /* 中央に配置するためのマージン */
    border-radius: 30px; /* 角丸 */
  }

  .notes button {
    color: #454545;
    padding: 15px 10px 10px 10px;
  }

  .note_data{
  position:absolute;
  top:350px;
  left:400px;
  }


    .custom-submit {
    background-color: #7dcd85; /* ボタンの背景色 */
    color: #000000; /* ボタンのテキスト色 */
    font-size: 16px; /*ボタンのテキストの大きさ*/
    width: 150px; /*幅調整*/
    height: 40px; /*高さ調整*/
    margin: 10px 550px;
    border: none; /* ボーダーなし */
    border-radius: 30px; /* 角丸 */
    cursor: pointer; /* カーソルをポインターに変更 */
    position:absolute;
    top:550px;
    left:150px

}

.custom-submit:hover {
    background-color: #45a049; /* ホバー時の背景色 */
}

