@charset "UTF-8";

.left {
	width: 50%;
	float: left;
}

.right {
	 /*コレ*/max-width: 100%;
    /*コレ*/height: auto;
	width: 50%;
	float: right;
}

.form {
	position: relative;
	align-items: center;
	margin: 0 auto;
}