@charset "UTF-8";

.left {
	width: 50%;
	float: left;
}

.right {
	 /*コレ*/max-width: 33%;
    /*コレ*/height: auto;
	width: 50%;
	float: right;
	align-content: center;
}

.form {
	position: relative;
	align-items: center;
	margin: 50px -50px;
}
.custom-submit {
    background-color: #7DCD85; /* ボタンの背景色 */
    color: #000000; /* ボタンのテキスト色 */
    font-size: 16px; /*ボタンのテキストの大きさ*/
    width: 150px; /*幅調整*/
    height: 40px; /*高さ調整*/
    margin: 10px auto;
    border: none; /* ボーダーなし */
    border-radius: 30px; /* 角丸 */
    cursor: pointer; /* カーソルをポインターに変更 */
    position: absolute;
    top:325px;
    left:80px;
}
.custom-submit:hover {
    background-color: #45A049; /* ホバー時の背景色 */
}

.new_account {
    background-color: #45A049; /* ボタンの背景色 */
    color: white; /* ボタンのテキスト色 */
    font-size: 16px; /*ボタンのテキストの大きさ*/
    width: 200px; /*幅調整*/
    height: 40px; /*高さ調整*/
    margin: 10px auto;
    border: none; /* ボーダーなし */
    border-radius: 30px; /* 角丸 */
    cursor: pointer; /* カーソルをポインターに変更 */
    position:absolute;
    top:440px;
    left:1025px;
}
.new_account:hover {
    background-color: #008000; /* ホバー時の背景色 */
}
