@charset "UTF-8";
/*
メモ
#bfe8bf背景色
#95d4aaアイコン背景
#feebcaヘッダー背景
#ff896fログアウト背景
#7dcd85緑ボタン
#00bf63タイトルの緑文字
*/
/* ------------------------------------------------------
メインの背景設定
------------------------------------------------------*/
body
{
    margin: 0;
    /* ページの余白をゼロに設定 */
    padding: 0;
    /* ページのパディングをゼロに設定 */
    background-color: #bfe8bf;
}

/* ------------------------------------------------------
ナビゲーションの設定
------------------------------------------------------*/
.nav
{
    display: flex;
    justify-content: space-between;
    /* 左右に均等に配置 */
    align-items: center;
    /* 中央揃え */
    background-color: #feebca;
    padding: 10px 20px;
    position: fixed;
    /* スクロールしても固定表示 */
    top: 0;
    /* 上部に固定 */
    width: 100%;
    z-index: 1000;
}

/* -----------------------
ヘッダー左のアイコン等の設定
-------------------------*/
.left_icons
{
    display: flex;
}

/* -----------------------
ホームのロゴの設定
-------------------------*/
.nav .home_logo
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 60px;
}

/* -----------------------
右のボタン等の設定
-------------------------*/
.nav .right_buttons
{
    display: flex;
    align-items: center;
    margin: 0 5px;

}

.nav .right_buttons button
{
    background-color: #95d4aa;
    border: none;
    /* ボーダーを無しに設定 */
    color: white;
    padding: 10px 15px;
    margin: 10px 40px;
    border-radius: 5px;
    /* 角を丸くする */
    cursor: pointer;
    /* カーソルをポインターに設定 */
    font-size: 14px;
}

/* ログアウトボタンのスタイル */
.nav .right_buttons .logout
{
    background-color: #ff896f;
}

/* ------------------------------------------------------

------------------------------------------------------*/

/* -----------------------
緑のボックス
-------------------------*/
.green_box
{
    background-color: #95d4aa;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    /* 角を丸くする */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin: 0 10px;
}


/* -----------------------
タイトルのボックス
-------------------------*/
.title_box
{
    background-color: white;
    color: green;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    /* 角を丸くする */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin: 0 10px;
}