@charset "UTF-8";
/*
メモ
#bfe8bf背景色
#95d4aaアイコン背景
#feebcaヘッダー背景
#ff896fログアウト背景
#7dcd85緑ボタン
#00bf63タイトルの緑文字
*/
/* ------------------------------------------------------
メインの背景設定
------------------------------------------------------*/
body
{
    margin: 0;
    /* ページの余白をゼロに設定 */
    padding: 0;
    /* ページのパディングをゼロに設定 */
    background-color: #bfe8bf;
}

/* ------------------------------------------------------
ナビゲーションの設定
------------------------------------------------------*/
.nav
{
    display: flex;
    justify-content: space-between;
    /* 左右に均等に配置 */
    align-items: center;
    /* 中央揃え */
    background-color: #feebca;
    padding: 10px 20px;
    position: fixed;
    /* スクロールしても固定表示 */
    top: 0;
    /* 上部に固定 */
    width: 100%;
    z-index: 1000;
}

/* -----------------------
ヘッダー左のアイコン等の設定
-------------------------*/
.left_icons
{
    display: flex;
}

/* -----------------------
ホームのロゴの設定
-------------------------*/
.nav .home_logo
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 60px;
}

/* -----------------------
右のボタン等の設定
-------------------------*/
.nav .right_buttons
{
    display: flex;
    align-items: center;
    margin: 0 5px;

}

.nav .right_buttons button
{
    background-color: #95d4aa;
    border: none;
    /* ボーダーを無しに設定 */
    color: white;
    width:200px; /*箱の幅調整*/
    height:125px; /*箱の高さ調整*/
    padding: 10px 15px;
    margin: 10px 40px;
    border-radius: 15px;
    /* 角を丸くする */
    cursor: pointer;
    /* カーソルをポインターに設定 */
    font-size: 22px;
}

/* ログアウトボタンのスタイル */
.nav .right_buttons .logout
{
    background-color: #ff896f;
}

/* ------------------------------------------------------

------------------------------------------------------*/
/* -----------------------
戻るボタン
-------------------------*/
.back-button {
    position: fixed; /* ページスクロールに関係なく固定する */
    bottom: 0px; /* 下からの距離 */
    right: 0px; /* 右からの距離 */
    width: 150px; /* 幅 */
    height: 150px; /* 高さ */
    cursor: pointer; /* カーソルの形状 */
    z-index: 1000; /* 他の要素より手前に表示 */
    border: none;
    background-color: #bfe8bf;

}
/* -----------------------
緑のボックス
-------------------------*/
.green_box
{
    background-color: #95d4aa;
    color: white;
    width: 120px;
    height: 120px;
    border-radius: 15px;
    /* 角を丸くする */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin: 0 30px;
}


/* -----------------------
タイトルのボックス
-------------------------*/

/*アイコン画像を親要素に合わせる*/
#user_icon{
	width:90%;
	height:90%;
}
.pass_warn{
	font-size: 20%;
}
#error_message{
	color:FF0000;
}
#submit_error{
	color:FF0000;
}


/*左に固定してるタブ*/
        .sidebar {
            position:fixed;
            background-color: #5cbf6b;
            width: 275px;
            height: 100vh;
            float: left;
            padding-top: 20px;
            font-size:20px;
        }
        .sidebar a {
            display: block;
            color: #FFFFFF;
            text-decoration: none;
            padding: 15px;
            text-align: left;
            margin: 5px 0;
        }
        .sidebar a:hover {
            background-color: #7dcd85;
        }
