/*
メモ 
#bfe8bf背景色
#95d4aaアイコン背景
#feebcaヘッダー背景
#ff896fログアウト背景 
*/

/* ------------------------------------------------------
メインの背景設定 
------------------------------------------------------*/ 
/* 背景色の指定 */
body
{   
    background-color: #bfe8bf;
}
/* ------------------------------------------------------
ヘッダーの設定 
------------------------------------------------------*/
/* ロールやポイント等のボタン色指定 */
head_icon
{
    background-color: #95d4aa;
}

logout_icon
{
    background-color: #ff896f;
}
/* ------------------------------------------------------
の設定 
------------------------------------------------------*/


