@charset "UTF-8";

textarea {
  width:94%;  /* 幅を固定 */
  height: 100px; /* 高さを固定 */
  resize: none;  /* リサイズを無効にする */
  	margin:auto auto  auto 20px;


}
body{
		text-align:-webkit-center;
		font-size:1.5em;

}
h2{
	padding-left:30px;
}
submit{
  font-size:1.5em;
}
table{
	border:1px solid white;
	background-color:#DBEFE1;
	width:800px;
}
input[type="text"] {
	width:94%;
    color: #253958;
    font-size: 23px;
    text-align:center;
     	margin:auto auto  auto 20px;
}
input[type="submit"] {
    width:auto;
    font-size: 20px;
    border: 1px solid black;
}
p{
    text-align:center;
    }
.a{
margin:auto auto  auto 20px;

}
