@charset "UTF-8";




body{
		text-align:-webkit-center;
		font-size:1.5em;
 }
table{
	border:1px solid white;
	background-color:#DBEFE1;
	width:500px;
}

input[type="text"] {
	width:40%;
    color: #253958;
    font-size: 23px;
    text-align:center;
     	margin:auto auto  auto 20px;
}

/* input[type="submit"] {
    width:auto;
    font-size: 20px;
    border: 1px solid black;
} */


/*ページタイトル---------------------------------------*/

.rewards_title {
    background-color: white;
    color: #00bf63;
    border-radius: 30px; /* 角を丸くする */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 23%;
    top: 25%;
    font-size: 35px;
    margin: 10px 25px 0px 25px;
    /*white-space: nowrap;*/
    /*padding: 0.5rem;*/
    width: 400px;
    height: 80px;
}

/*-------------------------------------------------*/



/*登録ボタン---------------------------------------*/

.reregi-submit {
    background-color: #7dcd85; /* ボタンの背景色 */
    color: #ffffff; /* ボタンのテキスト色 */
    font-size: 16px; /*ボタンのテキストの大きさ*/
    width: 150px; /*幅調整*/
    height: 40px; /*高さ調整*/
    margin: 10px 45%;
    border: none; /* ボーダーなし */
    border-radius: 30px; /* 角丸 */
    cursor: pointer; /* カーソルをポインターに変更 */
    position: absolute;
    top: 30%;
    left: 20%;
}

.reregi-submit :hover {
    background-color: #45a049; /* ホバー時の背景色 */
}

/*-------------------------------------------------*/



/*ページ遷移後の登録ボタン---------------------------------------*/

.reregi-button {
    background-color: #7dcd85; /* ボタンの背景色 */
    color: #ffffff; /* ボタンのテキスト色 */
    font-size: 16px; /*ボタンのテキストの大きさ*/
    width: 150px; /*幅調整*/
    height: 40px; /*高さ調整*/
    margin: 10px 45%;
    border: none; /* ボーダーなし */
    border-radius: 30px; /* 角丸 */
    cursor: pointer; /* カーソルをポインターに変更 */
    position: center;
/*     position: absolute;
    top: 70%;
    left: 8%; */
}

.reregi-button :hover {
    background-color: #45a049; /* ホバー時の背景色 */
}

/*-------------------------------------------------*/



/*履歴ボタン---------------------------------------*/

.rehis-submit {
    background-color: #7dcd85; /* ボタンの背景色 */
    color: #ffffff; /* ボタンのテキスト色 */
    font-size: 16px; /*ボタンのテキストの大きさ*/
    width: 150px; /*幅調整*/
    height: 40px; /*高さ調整*/
    margin: 10px 45%;
    border: none; /* ボーダーなし */
    border-radius: 30px; /* 角丸 */
    cursor: pointer; /* カーソルをポインターに変更 */
    position: absolute;
    top: 30%;
    left: 33%;
}

.reregi-submit :hover {
    background-color: #45a049; /* ホバー時の背景色 */
}

/*-------------------------------------------------*/



/*リクエストボタン---------------------------------------*/

.req_button {
    background-color: #7dcd85; /* ボタンの背景色 */
    color: #ffffff; /* ボタンのテキスト色 */
    font-size: 16px; /*ボタンのテキストの大きさ*/
    width: 150px; /*幅調整*/
    height: 40px; /*高さ調整*/
    margin: 2px 5%;
    border: none; /* ボーダーなし */
    border-radius: 30px; /* 角丸 */
    cursor: pointer; /* カーソルをポインターに変更 */
    position: center; /* 位置を真ん中に設定 */
}

.req_button :hover {
	background-color: #45a049;
}

/*-------------------------------------------------*/



/*リクエスト中---------------------------------------*/

.req_now {
 	background-color: white;
    color: #00bf63;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px; /*ボタンのテキストの大きさ*/
    width: 150px; /*幅調整*/
    height: 40px; /*高さ調整*/
    margin: 22px auto 2px auto;
    border: none; /* ボーダーなし */
    border-radius: 30px; /* 角丸 */
}

/*-------------------------------------------------*/



/*完了ボタン---------------------------------------*/

.comp_button {
    background-color: #7dcd85; /* ボタンの背景色 */
    color: #ffffff; /* ボタンのテキスト色 */
    font-size: 16px; /*ボタンのテキストの大きさ*/
    width: 80px; /*幅調整*/
    height: 40px; /*高さ調整*/
    margin: 2px;
    border: none; /* ボーダーなし */
    border-radius: 30px; /* 角丸 */
    cursor: pointer; /* カーソルをポインターに変更 */
    position: center; /* 位置を真ん中に設定 */
}

.comp_button :hover {
	background-color: #45a049;
}

/*-------------------------------------------------*/



/*更新ボタン---------------------------------------*/

.green_edit {
    background-color: #40e0d0; /* ボタンの背景色 */
    color: #ffffff; /* ボタンのテキスト色 */
    font-size: 16px; /*ボタンのテキストの大きさ*/
    width: 80px; /*幅調整*/
    height: 40px; /*高さ調整*/
    margin: 2px;
    border: none; /* ボーダーなし */
    border-radius: 30px; /* 角丸 */
    cursor: pointer; /* カーソルをポインターに変更 */
}

.green_edit :hover {
	background-color: #40e0d0;
}

/*-------------------------------------------------*/



/*ページ遷移後の更新ボタン---------------------------------------*/

.green_edit_button {
    background-color: #40e0d0; /* ボタンの背景色 */
    color: #ffffff; /* ボタンのテキスト色 */
    font-size: 16px; /*ボタンのテキストの大きさ*/
    width: 150px; /*幅調整*/
    height: 40px; /*高さ調整*/
    margin: 2px 5%;
    border: none; /* ボーダーなし */
    border-radius: 30px; /* 角丸 */
    cursor: pointer; /* カーソルをポインターに変更 */
    position: center; /* 位置を真ん中に設定 */
}

.green_edit :hover {
	background-color: #40e0d0;
}

/*-------------------------------------------------*/



/*削除ボタン---------------------------------------*/

.red_button {

	background-color: #ff896f; /* ボタンの背景色 */
    color: #ffffff; /* ボタンのテキスト色 */
    font-size: 16px; /*ボタンのテキストの大きさ*/
    width: 80px; /*幅調整*/
    height: 40px; /*高さ調整*/
    margin: 2px;
    border: none; /* ボーダーなし */
    border-radius: 30px; /* 角丸 */
    cursor: pointer; /* カーソルをポインターに変更 */



/*  background-color: #ff896f;
    color: #000000;
    width: 25px 25px;
    height: 10px 10px;
    border-radius: 5px;
    角を丸くする
    align-items: center;
    font-size: 20px;
    margin: 0 10px;
    padding: 5px 20px;
    border-color: white; */
}

.red_button :hover {
	background-color: #bc143c;
}

/*-------------------------------------------------*/



/*ご褒美一覧の位置調整-----------------------------------*/

.rewards{
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
   	text-align: center;
	font-size: 25px;
	padding: 5% 10% 3% 30%;

/* 	display: flex;
	justify-content: left;
	flex-wrap:wrap; */
/* 	justify-content: space-between; */
/* 	position: absolute;
	left: 10%; */
/* 	top: 15px;
	left: 2%; */
/* 	max-width: 60px; */
/* 	position: relative;
	top: 5%;
	left: 40%; */
}

/*-------------------------------------------------*/



/*ご褒美項目の位置調整-----------------------------------*/

.reward {
	background-color: #95d4aa;
	border: none; /* ボーダーを無しに設定 */
    color: #ffffff;
/*     width:200px; 箱の幅調整 */
/*     height:125px; 箱の高さ調整 */
    margin: auto auto 20px auto;
    border-radius: 15px; /* 角を丸くする */
    position: relative;
    top: 13px;
}

/*-------------------------------------------------*/



/*必須表示---------------------------------------*/

.required {
	color: #ED1A3D;
}

/*-------------------------------------------------*/



/*操作完了メッセージ---------------------------------------*/

.message {
	color: #ED1A3D;
	position: absolute;
    left: 29%;
    top: 40%;
    font-size: 20px;
}

/*-------------------------------------------------*/





