/* -----------------------
タイトルのボックス
-------------------------*/
.title_box
{
    background-color: white;
    color: green;
    width: 200px;
    height: 60px;
    border-radius: 15px;
    /* 角を丸くする */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position:absolute;
    margin: 0 0;
    top:250px;
    left:750px;

}

/* -----------------------
担当者のボックス
-------------------------*/
.t_box
{
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position:absolute;
    margin: 0 0;
    top:250px;
    left:900px;

}

/* -----------------------
繰り返し
-------------------------*/
.k_box
{
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position:absolute;
    margin: 0 0;
    top:300px;
    left:750px;

}

/* -----------------------
曜日
-------------------------*/
.y_box
{
    width: 200px;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position:absolute;
    margin: 0 0;
    top:500px;
    left:800px;

}
/* -----------------------
入力項目のボックス
-------------------------*/
.main_box
{
    background-color: #7dcd85;
    color: white;
    width: 200px;
    height: 60px;
    border-radius: 15px;
    /* 角を丸くする */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    position:absolute;
    margin: 10px 0;
    top:350px;
    left:750px;
}
/* -----------------------
入力項目のボックス
-------------------------*/
.youbi_box
{
    background-color: #7dcd85;
    color: white;
    width: 200px;
    height: 60px;
    border-radius: 15px;
    /* 角を丸くする */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    position:absolute;
    margin: 10px 0;
    top:420px;
    left:750px;
}
/* -----------------------
担当者のボックス
-------------------------*/
.icon_box
{
    background-color: #7dcd85;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    /* 角を丸くする */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    position:absolute;
    margin: 10px 0;
    top:150px;
    left:750px;
}
/* -----------------------
要録ボタンのボックス
-------------------------*/
.submit_box
{
	border: none; /* ボーダーなし */
    background-color: #7dcd85;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 30px;
    /* 角を丸くする */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    position:absolute;
    margin: 10px 30px;
    top:700px;
    left:750px;
}
/* -----------------------
削除のボックス
-------------------------*/
.delete_box
{
    background-color: #ff896f;
    color: white;
    width: 130px;
    height: 60px;
    border-radius: 15px;
    /* 角を丸くする */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    position:absolute;
    margin: 0 0;
    top:700px;
    left:900px;
}

/* -----------------------
編集のボックス
-------------------------*/
.update_box
{
    background-color: #7dcd85;
    color: white;
    width: 130px;
    height: 60px;
    border-radius: 15px;
    /* 角を丸くする */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    position:absolute;
    margin: 0 0;
    top:700px;
    left:750px;
}

/* -----------------------
日付
-------------------------*/
.day
{
	background-color: white;
    color: green;
    width: 200px;
    height: 20px;
    border-radius: 15px;
    /* 角を丸くする */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position:absolute;
    margin: 0 0;
    top:200px;
    left:750px;
}

.task_box
{
    width: 200px;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position:absolute;
    margin: 0 0;
    top:200px;
    left:750px;

}






