/* -----------------------
タイトルのボックス
-------------------------*/
.title_box
{
    background-color: white;
    color: green;
    width: 350px;
    height: 80px;
    border-radius: 15px;
    /* 角を丸くする */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    position:absolute;
    margin: 0 0;
    top:210px;
    left:680px;

}

/* -----------------------
担当者のボックス
-------------------------*/
.t_box
{
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position:absolute;
    margin: 0 0;
    top:325px;
    left:1000px;

}

/* -----------------------
繰り返し
-------------------------*/
.k_box
{
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position:absolute;
    margin: 0 0;
    top:360px;
    left:650px;

}

/* -----------------------
曜日
-------------------------*/
.y_box
{
    width: 350px;
    height: 80px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position:absolute;
    margin: 0 0;
    top:600px;
    left:800px;

}
/* -----------------------
入力項目のボックス
-------------------------*/
.main_box
{
    background-color: #7dcd85;
    color: white;
    width: 350px;
    height: 80px;
    border-radius: 15px;
    /* 角を丸くする */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    position:absolute;
    margin: 10px 0;
    top:400px;
    left:680px;
}

/* -----------------------
項目のボックス
-------------------------*/
.koumoku_box
{
    background-color: #7dcd85;
    color: white;
    width: 350px;
    height: 80px;
    border-radius: 15px;
    /* 角を丸くする */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    position:absolute;
    margin: 10px 0;
    top:300px;
    left:680px;
}
/* -----------------------
入力項目のボックス
-------------------------*/
.youbi_box
{
    background-color: #7dcd85;
    color: white;
    width: 350px;
    height: 80px;
    border-radius: 15px;
    /* 角を丸くする */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    position:absolute;
    margin: 10px 0;
    top:500px;
    left:680px;
}
/* -----------------------
担当者のボックス
-------------------------*/
.icon_box
{
    background-color: #7dcd85;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    /* 角を丸くする */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    position:absolute;
    margin: 10px 0;
    top:200px;
    left:750px;
}
/* -----------------------
要録ボタンのボックス
-------------------------*/
.submit_box
{
	border: none; /* ボーダーなし */
    background-color: #7dcd85;
    color: white;
    width: 260px;
    height: 50px;
    border-radius: 30px;
    /* 角を丸くする */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    position:absolute;
    margin: 10px 30px;
    top:750px;
    left:680px;
}
/* -----------------------
削除のボックス
-------------------------*/
.delete_box
{
    background-color: #ff896f;
    color: white;
    width: 130px;
    height: 60px;
    border-radius: 15px;
    /* 角を丸くする */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    position:absolute;
    margin: 0 0;
    top:800px;
    left:900px;
}

/* -----------------------
編集のボックス
-------------------------*/
.update_box
{
    background-color: #7dcd85;
    color: white;
    width: 130px;
    height: 60px;
    border-radius: 15px;
    /* 角を丸くする */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    position:absolute;
    margin: 0 0;
    top:800px;
    left:700px;
}

/* -----------------------
日付
-------------------------*/
.day
{
	background-color: white;
    color: green;
    width: 200px;
    height: 20px;
    border-radius: 15px;
    /* 角を丸くする */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position:absolute;
    margin: 0 0;
    top:180px;
    left:750px;
}

.task_box
{
    width: 280px;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    position:absolute;
    margin: 0 0;
    top:210px;
    left:420px;

}






