.title_box {
    background-color: white;
    color: #00bf63;
    border-radius: 30px; /* 角を丸くする */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 23%;
    top: 25%;
    font-size: 35px;
    margin: 10px 25px 0px 25px;
    /*white-space: nowrap;*/
    /*padding: 0.5rem;*/
    width: 400px;
    height: 80px;
}

.task_btn {
	background-color: #95d4aa;
    border: none;
    /* ボーダーを無しに設定 */
    color: white;
    width:200px; /*箱の幅調整*/
    height:125px; /*箱の高さ調整*/
    padding: 10px 15px;
    /*margin: 10px 40px;*/
    border-radius: 15px;
    /* 角を丸くする */
    cursor: pointer;
    /* カーソルをポインターに設定 */
    font-size: 22px;
    margin-left: 25%;
}

.edit_btn {
	/*position: absolute;
	left: 6.6%;*/
	background-color: green;
    border: none;
    /* ボーダーを無しに設定 */
    color: white;
    width: 150px; /* 箱の幅調整*/
    height: 60px; /*箱の高さ調整*/
    padding: 10px 15px;
    /*margin: 0px 8.3%;*/
    border-radius: 15px;
    /* 角を丸くする */
    cursor: pointer;
    /* カーソルをポインターに設定 */
    font-size: 22px;
    margin-left: 28%;
}

.btn {
	margin-left: 30%;
}

.r_btn {
	background-color: #7DCD85; /* ボタンの背景色 */
    color: white; /* ボタンのテキスト色 */
    font-size: 16px; /*ボタンのテキストの大きさ*/
    width: 150px; /*幅調整*/
    height: 40px; /*高さ調整*/
    margin: 10px auto;
    border: none; /* ボーダーなし */
    border-radius: 30px; /* 角丸 */
    cursor: pointer; /* カーソルをポインターに変更 */
    position: absolute;
    top: 30%;
    right: 37%;
}
.r_btn:hover {
	background-color: #45A049; /* ホバー時の背景色 */
}

.c_btn {
	background-color: #7DCD85; /* ボタンの背景色 */
    color: white; /* ボタンのテキスト色 */
    font-size: 16px; /*ボタンのテキストの大きさ*/
    width: 150px; /*幅調整*/
    height: 40px; /*高さ調整*/
    margin: 10px auto;
    border: none; /* ボーダーなし */
    border-radius: 30px; /* 角丸 */
    cursor: pointer; /* カーソルをポインターに変更 */
    position: absolute;
    top: 30%;
    right: 26%;
}
.c_btn:hover {
	background-color: #45A049; /* ホバー時の背景色 */
}

.l_btn {
	background-color: #7DCD85; /* ボタンの背景色 */
    color: white; /* ボタンのテキスト色 */
    font-size: 16px; /*ボタンのテキストの大きさ*/
    width: 150px; /*幅調整*/
    height: 40px; /*高さ調整*/
    margin: 10px auto;
    border: none; /* ボーダーなし */
    border-radius: 30px; /* 角丸 */
    cursor: pointer; /* カーソルをポインターに変更 */
    position: absolute;
    top: 30%;
    right: 15%;
}
.l_btn:hover {
	background-color: #45A049; /* ホバー時の背景色 */
}

.message {
	position: absolute;
    left: 25%;
    top: 37%;
}

.ul {
	position: absolute;
	right: 10%;
	top: 37%;
	border: solid 3px #95d4aa;
	padding-right: 50px;
	color: white;
	background-color: #95d4aa;
	border-radius: 30px;
	position: fixed;
}

.ul li {
	margin-bottom: 10px;
}

ul {
	padding-left: 0;

}

li {
	list-style: none;
}

.a,.a:hover,.a:visited,.top,.top:hover,.top:visited{
	text-decoration: none;
	color: inherit;
}

h3 {
	background-color: #7DCD85; /* ボタンの背景色 */
    color: white; /* ボタンのテキスト色 */
    font-size: 16px; /*ボタンのテキストの大きさ*/
    width: 150px; /*幅調整*/
    height: 40px; /*高さ調整*/
    margin: 10px auto;
    border-radius: 30px; /* 角丸 */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
}

.c_h {
	position: absolute;
	right: 10%;
	top: 31.5%;
	position: fixed;
}

.top_btn {
	width: 150px; /* 幅 */
    height: 150px; /* 高さ */
    position: fixed; /* ページスクロールに関係なく固定する */
    bottom: 0px; /* 下からの距離 */
    right: 25%; /* 右からの距離 */
}