/*body
{
	display: flex;*/
	/*justify-content: center;
	align-items: center;*/
	/*margin: 0;
    /* ページの余白をゼロに設定 */
    /*padding: 0;1*/
    /* ページのパディングをゼロに設定 */
    /*background-color: #bfe8bf;*/
/*}*/

/* -----------------------
タイトルのボックス
-------------------------*/
.title_box {
    background-color: white;
    color: #00bf63;
    border-radius: 30px; /* 角を丸くする */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 23%;
    top: 25%;
    font-size: 35px;
    margin: 10px 25px 0px 25px;
    /*white-space: nowrap;*/
    /*padding: 0.5rem;*/
    width: 400px;
    height: 80px;
}



.select_box {
    background-color: #7DCD85;
    color: white;
    width: 305px;
    height: 30px;
}

option {
    background-color: white;
    color: black;
}

.regist_button {
    left: 30%;
}

.custom-submit {
    background-color: #7DCD85; /* ボタンの背景色 */
    color: white; /* ボタンのテキスト色 */
    font-size: 16px; /*ボタンのテキストの大きさ*/
    width: 150px; /*幅調整*/
    height: 40px; /*高さ調整*/
    margin: 10px auto;
    border: none; /* ボーダーなし */
    border-radius: 30px; /* 角丸 */
    cursor: pointer; /* カーソルをポインターに変更 */
    position: relative;
    right: 10%;
}
.custom-submit:hover {
    background-color: #45A049; /* ホバー時の背景色 */
}

.custom-submit_d {
    background-color: #ff896f; /* ボタンの背景色 */
    color: white; /* ボタンのテキスト色 */
    font-size: 16px; /*ボタンのテキストの大きさ*/
    width: 150px; /*幅調整*/
    height: 40px; /*高さ調整*/
    margin: 10px auto;
    border: none; /* ボーダーなし */
    border-radius: 30px; /* 角丸 */
    cursor: pointer; /* カーソルをポインターに変更 */
    position: relative;
    right: 85%;
}
.custom-submit_d:hover {
    background-color: #45A049; /* ホバー時の背景色 */
}

.t_main {
	position: absolute;
	left: 40%;
	top: 38%;
}

input{
	width: 300px;
	height: 30px;
}

textarea {
	width: 300px;
	height: 100px;
}